root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

 .navbar{
 width:85%
 margin:auto;
 padding:35px 0;
 display:flex;
 align-items:centre;
 justify-content:space-between;
 }

 .logo{
 margin:10px;
 width:300px;
 position:top;
 cursor:pointer;
 display:flex;
  }

 .navbar ul li{
 list-style:none;
 display:inline-block;
 margin:0 20px;
 position:relative;
 }
 .navbar ul li a{
 text-decoration:none;
 color:#fff;
 text-transformation:uppercase;}

 .navbar ul li::after{
 content:'';
 height:3px;
 width:0;
 background:#009688;
 position:absolute;
 left:0;
 bottom:-10px;
 transition:0.5s;
 }
 .navbar ul li:hover::after{
 width:100%;  }

 h1 {
 text-align:center;
 color:#fff;
 font-family: "Georgia, serif";
  font-size: 40px;
 }

body {
  font-family: 'Noto Sans JP', sans-serif;
background-image: linear-gradient( #86608e, #ffb7c5, #fc6c85);

}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
   box-shadow: 0 0 10px 0 #fff;

}

.card__image {
  width: 100%;
  height: auto;
   object-fit: contain;

}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: #fff;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: #fff;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #fff;
}

.card__status {
  font-size: .8em;
  color: #fff;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}